# Set to "true" to enable MSW mock API (frontend-only dev, no backend needed) comment it out if you want real api
# VITE_ENABLE_MOCK=true

# Google OAuth client ID (only needed for real Google sign-in testing)
VITE_GOOGLE_CLIENT_ID=

VITE_API_URL=http://localhost:8080/api/v1
